/*body style*/
body {
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 10px 10px;
}

/*flexbox first container for all elements*/
.flexbox-container {
    display: flex;
    justify-content:center;
    flex-direction: row;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2%;
    flex-wrap: wrap;
    padding: 10px;
}

.flexbox-container{
    border: 10px solid rgb(241, 152, 152);
    border-radius: 5px;
}

/*title element in first flexbox container*/
.title-container{
    width: 100%;
    text-align: center;
    margin: 10px;
}

.title-container h1{
    font-family: 'Courier New', Courier, monospace;
    font-size:45px;
    color:blue;
}

/*submit element in first flexbox container*/
.submit-container{
    width: 100%;
    text-align: center;
    margin: 10px;
    margin-top: 5%;
}

#submit{
    width: 20em;  height: 3em;
}

/*prediction element in first flexbox container*/
.prediction-container{
    width: 100%;
    text-align: center;
    margin: 10px;
    background-color:rgb(235, 173, 145);
    font-family: 'Courier New', Courier, monospace;
    color:blue;
}

.prediction-container p {
    text-align: center;
}

.prediction-container span{
    font-size: 35px;
}

.result{
    font-size: 40px;
    color:rgb(214, 91, 91);
    font-family: Courier;
}

/*flexbox container inside of flexbox container*/
.flexbox-cocontainer{
    max-width: 100%;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
}

/*container inside 2nd flexbox*/
.container{
  flex-wrap: wrap;
  height: 80px;
  width: 90%;
  margin: 5%;
  padding-left: 1%;
  padding-right: 1%;
  flex: 0 1 20%;
}

.container{
    background-color:rgb(235, 173, 145);
    border-radius:25%;
    font-family: 'Courier New', Courier, monospace;
    color:blue;
}

input[type=text] {
    transition: width 0.4s ease-in-out;
  }
  
input[type=text]:focus {
    width: 100%;
  }

  input[type=submit]{
    background-color: #4CAF50;
    border: none;
    color: white;
    margin: 4px 2px;
    cursor: pointer;
  }

  select {
    color: blue;
    padding: 2px 10px;
    *background: #58B14C;
    font-family: Courier;
  }